language: android

android:
  components:
    # Update tools and then platform-tools explicitly so lint gets an updated database. Can be removed once 3.0 is out.
    - tools
    - platform-tools

jdk:
  - oraclejdk8

before_install:
  # Install SDK license so Android Gradle plugin can install deps.
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
  # Install the rest of tools (e.g., avdmanager)
  - sdkmanager tools
  # Install the system image
  - sdkmanager "system-images;android-18;default;armeabi-v7a"
  # Create and start emulator for the script. Meant to race the install task.
  - echo no | avdmanager create avd --force -n test -k "system-images;android-18;default;armeabi-v7a"
  - $ANDROID_HOME/emulator/emulator -avd test -no-audio -no-window &

install: ./gradlew ":$MODULE:assemble" ":$MODULE-kotlin:assemble" --stacktrace

script:
  - ./gradlew ":$MODULE:build" ":$MODULE-kotlin:build" --stacktrace


env:
  matrix:
    - MODULE=rx-task
    - MODULE=rx-fit
    - MODULE=rx-location
    - MODULE=rx-places

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
